<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CX Weather App Configuration</title>
  <link rel="stylesheet" href="../assets/app.css"/>
</head>
<body class="">

  <div class="page">

    <header>
      <div class="wrapper">
          <svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
          </svg><!--
     --><strong class="logotype">CX Weather</strong>
      </div>
    </header>
  
  
  
    <main class="wrapper">
    
      <h1>App Configuration</h1>
  
      <p><strong>Thank you for installing CX Weather!</strong></p>
      <p>CX Weather is powered by <a href="https://www.weatherapi.com/" title="Free Weather API" target="_blank">WeatherAPI.com</a>. If you haven&rsquo;t already, please <a href="https://www.weatherapi.com/signup.aspx" title="Sign up for Weather API" target="_blank">create an account</a>. Once you&rsquo;re signed in, grab your API key and enter it&nbsp;below:</p>

  
      <form id="config-form">
        <hr />
        <fieldset>
          <label for="api-key"><span>Your API Key</span></label>
          <input id="api-key" type="text" name="api_key" />
        </fieldset>
        <hr />
  
        <button id="js-btn" class="button">Save</button>

      </form>


    </main>


    <div id="js-modal-wrapper" class="modal-wrapper">
      <div id="js-modal-tile" class="modal-tile">
        <div id="js-modal-card" class="modal-card">

          <div id="js-modal--saving" class="modal-inner">
            <div class="icon">
              <div class="saving"></div>
            </div>
            <span class="modal-heading">Saving</span>
            <p class="modal-text">Talking to AMS.<br/>Ready in a&nbsp;jiffy.</p>
          </div><!--
  
       --><div id="js-modal--success" class="modal-inner modal-inner--success">
            <div class="icon icon--success">
              <div id="js-modal-icon--success" class="saving saving--success"></div>
            </div>
            <span class="modal-heading">Success</span>
            <p class="modal-text">Lorem ipsum success text&nbsp;here.</p>
          </div><!--
  
       --><div id="js-modal--error" class="modal-inner modal-inner--error">
            <div class="icon icon--error">
              <div id="js-modal-icon--error" class="saving saving--error"></div>
            </div>
            <span class="modal-heading">Error</span>
            <p class="modal-text">Oops! Failed lorem ipsum text&nbsp;here.</p>
          </div>

        </div>
      </div>
    </div>


  </div>



  <footer class="clearfix">
    <div class="wrapper">
      <small class="smallprint  copyright">&copy; <script>document.write(new Date().getFullYear())</script> Oracle CX</small>
      <small class="smallprint  credit">Powered by <a href="https://www.weatherapi.com/" title="Free Weather API" target="_blank">WeatherAPI.com</a></small>
    </div>
  </footer>



   <script type="text/javascript">
    /*
     * AMS TO FORM: RESPONSE
     *
     * https://docs.oracle.com/en/cloud/saas/marketing/ams-develop/Developers/ams/develop/app-configuration.htm#SaveConfigurationURLSampleAppCode
     * Section: "Sample App Implementation: PostMessage"
     */
    function attachMessageListener() {
      var messageHandlerFunction = this.handleMessage.bind(this);
      window.addEventListener("message", messageHandlerFunction, false);
    };

    function handleMessage(event) {
      if(event && event.data) {
        console.log("App Config: received event from AMS. ", event);

        //TODO: success/error modals
        /*function success() {
          ...
        }*/
      }
    }

    /* Just for quick testing */
    var saveStatus = "success";
    {# var saveStatus = "error"; #}
    setTimeout(() => {
      if(saveStatus === "success") {
        document.querySelector("#js-modal-tile").classList.add("success");
        document.querySelector("#js-modal--success").classList.add("is-active");
      } else {
        document.querySelector("#js-modal-tile").classList.add("error");
        document.querySelector("#js-modal--error").classList.add("is-active");
      };
      document.querySelector("#js-modal--saving").setAttribute("aria-hidden", "true");
    }, 4000);
    


    /*
     * FORM TO AMS: SUBMIT
     *
     * https://youtu.be/NxVCq4p0Kb0
     * https://gist.github.com/prof3ssorSt3v3/52ebd432bb7b8a155985a2f82509541d
     */
    const submitConfig = (ev)=>{
      ev.preventDefault(); // To stop the form submitting
      const message = {
        amsAction: 'saveappconfig',
        requestId: 'saveappconfig',
        payload: {
          weatherAPIkey: document.getElementById('api-key').value
        }
      };

      document.querySelector("#js-modal-wrapper").classList.add("show");

      window.parent.postMessage(message, '*');
      console.log('Config form submit: ' + JSON.stringify(message));
    }
    document.addEventListener('DOMContentLoaded', ()=>{
      document.getElementById('js-btn').addEventListener('click', submitConfig);
    });
  </script>

</body>
</html>